<a href="https://colab.research.google.com/github/shlee0619/workStats/blob/main/1125.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 기술통계 - 중심경향측도

In [ ]:
# 라이브러리 불러오기
import pandas as pd

In [ ]:
# 데이터프레임 만들기
df = pd.DataFrame({'name': ["Richard", "Sara", "Andrea", "Steven", "Jordan", "Pam",
                            "Michael", "Liz", "Nicole", "Mike", "Kent", "Elizabeth",
                            "Bill", "Hadley", "Buffy", "Chip", "Homer", "Margaret",
                            "Courtney", "Leonard", "Jeffrey", "Emily"],
                   'major': ["교육학", "심리학", "교육학", "심리학", "교육학", "교육학",
                             "심리학", "심리학", "화학", "간호학", "역사학", "영어영문학",
                             "심리학", "심리학", "교육학", "교육학", "심리학", "영어영문학",
                             "심리학", "심리학", "화학", "스페인어"],
                   'age': [19, 18, 19, 21, 20, 24, 21, 19, 19, 20, 18, 21, 22, 23, 21, 19,
                           18, 22, 24, 21, 18, 19]})
df

         name  major  age
0     Richard    교육학   19
1        Sara    심리학   18
2      Andrea    교육학   19
3      Steven    심리학   21
4      Jordan    교육학   20
5         Pam    교육학   24
6     Michael    심리학   21
7         Liz    심리학   19
8      Nicole     화학   19
9        Mike    간호학   20
10       Kent    역사학   18
11  Elizabeth  영어영문학   21
12       Bill    심리학   22
13     Hadley    심리학   23
14      Buffy    교육학   21
15       Chip    교육학   19
16      Homer    심리학   18
17   Margaret  영어영문학   22
18   Courtney    심리학   24
19    Leonard    심리학   21
20    Jeffrey     화학   18
21      Emily   스페인어   19

In [ ]:
# 전공 = 범주형 변수 => 빈도
# 최빈값 => 심리학
df['major'].value_counts()

major
심리학      9
교육학      6
화학       2
영어영문학    2
간호학      1
역사학      1
스페인어     1
Name: count, dtype: int64

In [ ]:
# 나이 = 연속형 변수 => 평균
# 평균
df['age'].mean()

20.272727272727273

## 평균

In [ ]:
import numpy as np

In [ ]:
customers = [2150, 1534, 3564]

In [ ]:
(2150 + 1534 + 3564)/3

2416.0

In [ ]:
np.mean(customers)

2416.0

In [ ]:
sum(customers)

7248

In [ ]:
len(customers)

3

In [ ]:
sum(customers)/len(customers)

2416.0

In [ ]:
# 편차
x = [3,4,5]

In [ ]:
x_bar = np.mean(x);x_bar

4.0

In [ ]:
x_dev = x - x_bar;x_dev

array([-1.,  0.,  1.])

In [ ]:
sum(x_dev)

0.0

In [ ]:
# 가중평균
score = pd.Series([97, 94, 92, 91, 90, 89, 78, 60])
freq = pd.Series([4, 11, 12, 21, 30, 12, 9, 1])

In [ ]:
# 점수*빈도
score_freq = score*freq
score_freq

0     388
1    1034
2    1104
3    1911
4    2700
5    1068
6     702
7      60
dtype: int64

In [ ]:
# 분자
sum(score_freq)

8967

In [ ]:
# 분모
sum(freq)

100

In [ ]:
# 가중 평균 = 분자 / 분모
sum(score_freq)/sum(freq)

89.67

In [ ]:
# 산술평균
score.mean()

86.375

## 기하평균

In [ ]:
# 원금 100 만원
# 첫 해 50% 이익
# 둘째 해 50% 손해
100 * (1 + 0.5) * (1 - 0.5)

75.0

In [ ]:
# 산술평균으로 평균수익률을 먼저 구해보자
(0.5 + (- 0.5)) / 2
# 100 만원으로 투자해서 75 만원 회수 즉 25 만원 손해인데, 0% 수익이 났다는 것으로 보아 적합하지 않음

0.0

In [ ]:
# 기하평균 = 정사각형 0.75로 만들어보자
100 * (np.sqrt((1 - 0.25) * (1 - 0.25)))

75.0

In [ ]:
# 기하평균으로 평균 수익률을 구해보자
# 원금은 빼야 하므로 -1
np.sqrt((1 - 0.25) * (1 - 0.25)) - 1

-0.25

In [ ]:
# 평균 수익률로 현재 수익금 계산
100 + (100 * (np.sqrt((1 - 0.25) * (1 - 0.25)) - 1))
# 원금 100 만원

75.0

## 조화평균

In [ ]:
# 산술평균
# x = {2,3}
(2+3)/2

2.5

In [ ]:
# 관측치를 역수로 변환하여 산술평균을 구한 뒤 다시 역수를 취함
(1/2+1/3)/2

0.41666666666666663

In [ ]:
1/((1/2+1/3)/2)

2.4000000000000004

In [ ]:
# 조화평균 공식 이용
(2*2*3)/(2+3)

2.4

## 중앙값

In [ ]:
# 홀수개일 때는 가장 중앙에 있는 값
x = pd.Series([135456, 54365, 37668, 32456, 25500])

In [ ]:
# 오름 차순 정렬
x1 = x.sort_values()
x1

4     25500
3     32456
2     37668
1     54365
0    135456
dtype: int64

In [ ]:
# 중앙값
x1[2]

37668

In [ ]:
# 함수로 찾아보기
x.median()

37668.0

In [ ]:
# 짝수개일 때는 가장 중앙에 있는 2개의 값들의 평균
x = pd.Series([135456, 54365, 37668, 34500, 32456, 25500])

In [ ]:
# 오름 차순 정렬
x1 = x.sort_values()
x1

5     25500
4     32456
3     34500
2     37668
1     54365
0    135456
dtype: int64

In [ ]:
# 중앙값
(x1[3] + x1[2])/2

36084.0

In [ ]:
# 함수로 찾아보기
x.median()

36084.0

In [ ]:
# 이상치와 평균
x = pd.Series([135456, 54365, 37668, 34500, 32456, 25500])

In [ ]:
# 요약통계량
x.describe()

count         6.000000
mean      53324.166667
std       41366.292599
min       25500.000000
25%       32967.000000
50%       36084.000000
75%       50190.750000
max      135456.000000
dtype: float64

In [ ]:
# 극단적으로 높은 값 확인
x.max()

135456

In [ ]:
# 극단치를 제외한 평균
x[1:].mean()

36897.8

## 최빈값

In [ ]:
# 1=민주당
# 2=공화당
# 3=무소속
party = pd.Series([1, 2, 3, 3, 3, 2, 2, 1, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1])

In [ ]:
# 범주형 변수 = 빈도표
party.value_counts()
# 최빈값 = 1=민주당

1    9
2    7
3    3
Name: count, dtype: int64

In [ ]:
# 1=빨간머리
# 2=금색머리
# 3=검정머리
# 4=갈색머리
hair = pd.Series([1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4])

In [ ]:
# 범주형 변수 = 빈도표
hair.value_counts()
# 최빈값
# 3=검정머리
# 4=갈색머리

3    8
4    8
2    5
1    3
Name: count, dtype: int64

In [ ]:
# 최빈값을 찾아주는 함수
from scipy.stats import mode
mode(party)

ModeResult(mode=1, count=9)

In [ ]:
mode(hair)
# 최빈값이 2개임에도 불구하고 3 하나만 알려줌

ModeResult(mode=3, count=8)

In [ ]:
# 최빈값이 2개 이상인 경우
from collections import Counter
count = Counter(hair)
count

Counter({1: 3, 2: 5, 3: 8, 4: 8})

In [ ]:
freq = count.most_common()
freq
# 값과 빈도를 함께 반환

[(3, 8), (4, 8), (2, 5), (1, 3)]

In [ ]:
# 값
print(freq[0][0])
print(freq[1][0])

3
4

In [ ]:
# 빈도
print(freq[0][1])
print(freq[1][1])

8

In [ ]:
max = freq[0][1]
max

8

In [ ]:
mode = []
for i in freq:
  if i[1] == max:
    mode.append(i[0])
print(mode)

[3, 4]

In [ ]:
# 최빈값을 알려주는 함수
from collections import Counter
def mode_mtp(data):
  count = Counter(data)
  freq = count.most_common()
  max = freq[0][1]
  mode = []
  for i in freq:
    if i[1] == max:
      mode.append(i[0])
  return mode

In [ ]:
mode_mtp(hair)

[3, 4]

## 산포측도

In [ ]:
# 변동성
import pandas as pd

In [ ]:
df = pd.DataFrame({'x1': [7,6,3,3,1],
                   'x2': [3,4,4,5,4],
                   'x3': [4,4,4,4,4]})

In [ ]:
# 평균
df.mean()

x1    4.0
x2    4.0
x3    4.0
dtype: float64

In [ ]:
x1_bar = df.mean()[0]
x2_bar = df.mean()[1]
x3_bar = df.mean()[2]
print(x1_bar,x2_bar,x3_bar)

4.0 4.0 4.0

<ipython-input-75-2642048734ba>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x1_bar = df.mean()[0]
<ipython-input-75-2642048734ba>:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x2_bar = df.mean()[1]
<ipython-input-75-2642048734ba>:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x3_bar = df.mean()[2]

In [ ]:
# 편차
x1_dev = df['x1'] - x1_bar
x2_dev = df['x2'] - x2_bar
x3_dev = df['x3'] - x3_bar
print(x1_dev,x2_dev,x3_dev)

0    3.0
1    2.0
2   -1.0
3   -1.0
4   -3.0
Name: x1, dtype: float64 0   -1.0
1    0.0
2    0.0
3    1.0
4    0.0
Name: x2, dtype: float64 0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: x3, dtype: float64

In [ ]:
# 편차합
print(sum(x1_dev),sum(x2_dev),sum(x3_dev))

0.0 0.0 0.0

In [ ]:
# 편차제곱
x1_dev2 = x1_dev**2
x2_dev2 = x2_dev**2
x3_dev2 = x3_dev**2
print(x1_dev2,x2_dev2,x3_dev2)

0    9.0
1    4.0
2    1.0
3    1.0
4    9.0
Name: x1, dtype: float64 0    1.0
1    0.0
2    0.0
3    1.0
4    0.0
Name: x2, dtype: float64 0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: x3, dtype: float64

In [ ]:
# 편차제곱합
print(sum(x1_dev2),sum(x2_dev2),sum(x3_dev2))

24.0 2.0 0.0

## 분산 & 표준편차

In [ ]:
score = pd.Series([8,8,8,7,6,6,5,5,4,3])

In [ ]:
# 평균
score_mean = score.mean();score_mean

6.0

In [ ]:
# 편차
score_dev = score - score_mean;score_dev

0    2.0
1    2.0
2    2.0
3    1.0
4    0.0
5    0.0
6   -1.0
7   -1.0
8   -2.0
9   -3.0
dtype: float64

In [ ]:
# 편차제곱
score_dev2 = score_dev**2;score_dev2

0    4.0
1    4.0
2    4.0
3    1.0
4    0.0
5    0.0
6    1.0
7    1.0
8    4.0
9    9.0
dtype: float64

In [ ]:
# 편차제곱합
sum(score_dev2)

28.0

In [ ]:
# 표본의 크기
n = len(score);n

10

In [ ]:
# 분산
# 편차제곱합 / (n-1)
sum(score_dev2)/(n-1)

3.111111111111111

In [ ]:
# 표준편차 = 제곱근(분산)
import numpy as np
np.sqrt(sum(score_dev2)/(n-1))

1.7638342073763937

In [ ]:
(sum(score_dev2)/(n-1))**(1/2)

1.7638342073763937

In [ ]:
# 함수 이용
# 불편추정치
# 분산
score.var()

3.111111111111111

In [ ]:
# 표준편차
score.std()

1.7638342073763937

In [ ]:
# 불편추정치 계산할 때 n - 1(ddof) <= ddof = 1
# 편향추정치 계산할 때 n - 0(ddof) <= ddof = 0
# 편향추정치
# 분산
score.var(ddof = 0)

2.8

In [ ]:
# 표준편차
score.std(ddof = 0)

1.6733200530681511

## 요약통계량

In [ ]:
x = pd.Series([135456, 54365, 37668, 34500, 32456, 25500])

In [ ]:
x.describe()

count         6.000000
mean      53324.166667
std       41366.292599
min       25500.000000
25%       32967.000000
50%       36084.000000
75%       50190.750000
max      135456.000000
dtype: float64

In [ ]:
# 표준편차
x.std()

41366.29259876533

In [ ]:
# 분산 = 표준편차 제곱
x.var()

1711170163.366667

In [ ]:
# 중앙값
x.median()

36084.0

In [ ]:
# 첨도, 왜도
from scipy.stats import skew, kurtosis
# 왜도
skew(x, bias = False)

2.1737564620024954

In [ ]:
# 첨도
kurtosis(x, bias = False)

4.861219327469506

![image.png]()

In [ ]:
# https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.skew.html

In [ ]:
# 범위 = 최대값 - 최소값
x.max() - x.min()

109956