<a href="https://colab.research.google.com/github/shlee0619/workStats/blob/main/1129.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 주석 = shift + ctrl + c
# 할당 연산자 = alt + -
# 명령어 실행 = ctrl + enter
a <- 1
a = 1

In [ ]:
#
a <- 1
b <- 2
c <- 3
d <- 4
# 사칙연산
a+b
c-d
b*d
d/b

In [ ]:
# combine 함수: 여러 개의 값을 저장
# 벡터 vector
v <- c(1,5,7,9,2)
v
v1 <- c(1,2,3,4,5)
v1
v2 <- c(1:5)
v2
v+v1
v6 <- c(2,4,6)
v6
v+v6

In [ ]:
# sequence 함수: 연속적인 숫자 값을 저장, 특정 규칙에 따라 연속적인 값을 저장
v3 <- seq(1,5)
v3
v4 <- seq(0,10,by=2)
v4
v5 <- seq(1,10,by=2)
v5

In [ ]:
# 연산
v1
v1 + 2
v1 - 1

In [ ]:
# 문자
# string = 문자열
str1 <- "k"
str1
str2 <- "text"
str2
str3 <- c("a","b","c")
str3
str4 <- c("Hello!","World","is","good!")
str4
paste("Hello!","World","is","good!")
paste0("Hello!","World","is","good!")
paste(str4,collapse = " ")
paste(str4,collapse = "_")
#
str1 + 1

In [ ]:
# 숫자 데이터 = 연속형 변수 = 평균
mean(v1)
# 문자 데이터 = 범주형 변수 = 빈도
table(str3)

In [ ]:
# 대괄호: []
# 중괄호: {}
# 소괄호: ()
# 알파벳 추출
# 인덱스: 데이터 위치
# 인덱싱: 인덱스를 이용해 데이터 추출 작업
LETTERS[1:5]
LETTERS[c(1,20)]
letters[1:5]
letters[c(11,15)]
#

In [ ]:
# 4 + 6
4 + 6
# 제곱 = ^2 = **2
2^2
2**2
# 세제곱 = ^3 = **3
2^3
2**3
#
(3+5)**2
(3+5)^2
(3+5)**2/17+21
(3+5)**2/(17+21)
#

In [ ]:
correct <- c(8,6,5,8,7,8,9,6,10,8)
ls()
ls(pattern = "c")
correct
# 콘솔 내용 지우기 = ctrl + l
#

In [ ]:
# 객체 지우기
# 1) 메뉴에서 Session - Clear Workspace...
# 2) 우측 상단 Environment 창에서 빗자루 아이콘 클릭
data1 <- c(45,56,34,56,25,74,35,68,98,56)
data2 <- (7,5,3,6,4,7,6,4,5,9)
# data2 생성 에러 수정
data2 <- c(7,5,3,6,4,7,6,4,5,9)
data3 <- c(1,2,1,2,2,1,2,1,2,2)
# 객체 확인
ls()
# 특정 객체 삭제
rm(data2)
ls()

In [ ]:
# 외부 데이터 가져오기
# 창으로 선택해서 가져오기
file.choose()
read.csv(file.choose())
# 경로 설정으로 가져오기
# 작업 폴더 = 프로젝트 폴더 = ./
example <- read.csv("./data/csv_exam.csv")
example
str(example)
#
path = "./data/"
list.files(path)
list.files(path, full.names = TRUE)
list.files(path, full.names = TRUE, pattern = "csv_exam")
filenames <- list.files(path, full.names = TRUE)
filenames[1]
read.csv(filenames[1])
filenames2 <- list.files(path, full.names = TRUE, pattern = "csv_exam")
read.csv(filenames2)
#
# 간단한 기술통계량 계산하기 = 요약통계량
# 연속형 변수에 해당
# 최소값 = 0분위수
# 1분위수 = 25분위수
# 2분위수 = 50분위수 = 중앙값(median)
# 3분위수 = 75분위수
# 최대값 = 4분위수 = 100분위수
# 평균
summary(example)
# 범주형 변수
# 빈도, 비율
table(example$class)
# 상관계수
data2 <- c(7,5,3,6,4,7,6,4,5,9)
data1;data2
# correlation
cor(data1,data2)
# 산점도
plot(data1,data2)
# 패키지 검색
# 우하단의 Packages 창에서 검색
search()
# 패키지는 함수의 묶음
# 예) tidyr(데이터 전처리), ggplot2(시각화)

In [ ]:
# 내장함수
# 데이터 준비하기
exam <- read.csv("./data/csv_exam.csv")
exam
# 데이터 추출
# 인덱스: 데이터의 위치(번호, 이름)
# 인덱싱: 인덱스로 데이터 추출하는 것
# 행과 열 => 행번호, 행이름, 열번호, 열이름
# 인덱스 사용법: 데이터[행,열]
# 행번호로 행 추출
exam[1,]
exam[15,]
exam[c(1:10),]
exam[c(11:20),]
exam[seq(1,10),]
exam[seq(11,20),]
exam[seq(1,20,by=2),]
exam[seq(0,20,by=2),]

In [ ]:
# 조건을 만족하는 행 추출
str(exam)
# 같다 (==)
exam[exam$class == 1,]
# 같지않다 (!=)
exam[exam$class != 1,]
# 크다 = 초과 (>)
exam[exam$english > 97,]
# 크거나 같다 = 이상 (>=)
exam[exam$english >= 97,]
# 작다 = 미만 (<)
exam[exam$math < 50,]
# 작거나 같다 = 이하 (<=)
exam[exam$math <= 50,]
# 조건 두 개 이상
# and
exam[exam$class == 3 & exam$science >= 50,]
# or
exam[exam$math > 70 | exam$science <=  30,]
#

In [ ]:
# 열번호로 열 추출
str(exam)
#
exam[,1] # id
exam[,2] # class
exam[,3] # math
exam[,4] # english
exam[,5] # science
exam[,6]
# 열 번호로 여러개 열 추출
exam[,c(1:3)]
exam[,c(3:5)]
exam[,c(1,3,5)]
# 열 이름으로 열 추출
exam[,"id"] # id
exam[,"class"] # class
exam[,"math"] # math
exam[,"english"] # english
exam[,"science"] # science
# 열 이름으로 여러개 열 추출
exam[,c("id","class","math")]
exam[,c("math","english","science")]
exam[,c("id","math","science")]
#

In [ ]:
# 행과 열을 동시에 추출
# 행번호 & 열번호
exam[1,5]
# 행번호 & 열이름
exam[1,"science"]
# 행 조건 & 열번호
exam[exam$math > 80,5]
# 행 조건 & 열이름
exam[exam$math > 80,"science"]
# 행 조건 & 열 여러개
exam[exam$math > 80,c(4,5)]
exam[exam$math > 80,c("english","science")]
#
# 문제) 수학 점수 50 이상, 영어 점수 80 이상인 학생들을 대상으로 각 반의 전 과목 총평균을 구하라.

In [ ]:
subset <- exam[exam$math >= 50 & exam$english >= 80,]
subset
subset$total <- (subset$math + subset$english + subset$science)
subset
subset$mean_score <- subset$total/3
subset
#

In [ ]:
#
exam$total <- (exam$math + exam$english + exam$science)/3
head(exam)
aggregate(data = exam[exam$math >= 50 & exam$english >= 80,],
          total~class,
          FUN = "mean")

In [ ]:
# tidyverse 사용 문법
# tidyverse: 데이터 전처리 등에 많이 사용하는 패키지들의 묶음
install.packages("tidyverse")
library(tidyverse)
# 파이프라인 = shift + ctrl + m
exam %>%
  filter(math >= 50 & english >= 80) %>%  # 행 추출
  mutate(total = (math + english + science)/3) %>% # 새로운 변수 생성
  group_by(class) %>% # 그룹 생성
  summarise(mean_score = mean(total)) # 요약 결과 생성 (예, 평균)
#

In [ ]:
# 데이터타입 = 변수타입 = 자료형
# 값을 숫자로 입력
var1 <- c(1,2,3,1,2)
var2 <- factor(c(1,2,3,1,2))
var1
var2
var1 + 2
var2 + 2
class(var1)
class(var2)
# 값을 문자로 입력
var3 <- c("a","b","b","c")
var4 <- factor(c("a","b","b","c"))
var3
var4
var3 + 2
var4 + 2
class(var3)
class(var4)

In [ ]:
# 함수 적용
var1
mean(var1)
table(var1)
summary(var1)
var2
mean(var2)
table(var2)
summary(var2)
var3
mean(var3)
table(var3)
summary(var3)
var4
mean(var4)
table(var4)
summary(var4)

In [ ]:
# 데이터타입변경
var1;var2
class(var1);class(var2)
var2 <- as.numeric(var2)
class(var1);class(var2)
# as.character(): 문자형으로 변경
# as.factor(): 범주형으로 변경
# as.integer(): 정수형으로 변경
# as.Date(): 날짜형으로 변경
#

In [ ]:
# mpg 데이터의 drv 변수는 자동차의 구동 방식을 나타냅니다. mpg 데이터를 이용해 아래 문제를 해결해 보세요.
mpg <- as.data.frame(ggplot2::mpg)
str(mpg)

In [ ]:
# • Q1. drv 변수의 타입을 확인해 보세요.
class(mpg$drv)
# • Q2. drv 변수를 as.factor()를 이용해 factor 타입으로 변환한 후 다시 타입을 확인해 보세요.
mpg$drv <- as.factor(mpg$drv)
class(mpg$drv)
# • Q3. drv가 어떤 범주로 구성되는지 확인해 보세요.
levels(mpg$drv)
#

In [ ]:
# 자료구조
# 1. 벡터: 하나의 값, 여러 개의 값, 같은 데이터 타입
a <- 3
a
b <- c(1,2,3,4,5)
b
c <- "hi"
c
d <- c("a","b","c","a")
d
class(a)
class(b)
class(c)
class(d)

In [ ]:
# 2. 데이터프레임: 행과 열로 구성된 2차원, 열들이 서로 다른 데이터타입 가질 수 있음
df <- data.frame(var1 = c(1,2,3),
                 var2 = c("a","b","c"))
df
class(df)
class(df$var1)
class(df$var2)

In [ ]:
# 3. 매트릭스: 행과 열로 구성된 2차원, 같은 데이터타입만 저장 가능
mx <- matrix(c(1:12), ncol = 4)
mx
class(mx)

In [ ]:
# 4. 어레이: 행과 열로 구성된 매트릭스가 여러 겹이 있는 구조
ar <- array(1:18, dim = c(3,6,3))
ar
class(ar)

In [ ]:
# 5. 리스트: 모든 데이터 구조를 저장할 수 있음
ls <- list(list1 = a,
           list2 = df,
           list3 = mx,
           list4 = ar)
ls
class(ls)

In [ ]:
# 벡터를 꺼내서 사용하기
ls$list1
vec <- ls$list1
vec
# = a
# 데이터프레임을 꺼내서 사용하기
ls$list2
# 매트릭스를 꺼내서 사용하기
ls$list3
# 어레이를 꺼내서 사용하기
ls$list4
#

In [ ]:
# 리스트 실제 활용하는 예
mpg <- as.data.frame(ggplot2::mpg)
# 상자수염그림
bp <- boxplot(mpg$hwy)
bp
bp$stats
# 하한값
bp$stats[1,1]
lower_limit <- bp$stats[1,1]
lower_limit
# 상한값
bp$stats[5,1]
upper_limit <- bp$stats[5,1]
upper_limit
#

In [ ]:
# 패키지
library(ggplot2)
x <- c("a","a","b","c")
x
# quick plot: 탐색적 목적으로 빠르게 시각화 함수
# 막대그래프: 범주형변수의 빈도 표현
qplot(x)
#
mpg <- as.data.frame(ggplot2::mpg)
# 히스토그램: 연속형변수(구간)의 빈도 표현
qplot(data = mpg, x = drv, y = hwy)
#
qplot(data = mpg, x = drv, y = hwy, geom = "line")
# 상자수염그림
qplot(data = mpg, x = drv, y = hwy, geom = "boxplot")
#
qplot(data = mpg, x = drv, y = hwy, geom = "boxplot", color = drv)
#
# 도움말 보고 싶을 때
?qplot
#

In [ ]:
# Q1. 시험 점수 변수 만들고 출력하기
# 다섯 명의 학생이 시험을 봤습니다. 학생 다섯 명의 시험 점수를 담고 있는 변수를 만들어 출력해 보세요. 각 학생의 시험 점수는 다음과 같습니다.
# 80, 60, 70, 50, 90
score <- c(80, 60, 70, 50, 90)
score
# Q2. 전체 평균 구하기
# 앞 문제에서 만든 변수를 이용해서 이 학생들의 전체 평균 점수를 구해보세요.
mean(score)
# Q3. 전체 평균 변수 만들고 출력하기
# 전체 평균 점수를 담고 있는 새 변수를 만들어 출력해 보세요. 앞 문제를 풀 때 사용한 코드를 응용하면 됩니다
mean <- mean(score)
mean
#

In [ ]:
# 평균
# 세 지역에 있는 서점의 연평균 고객수
x <- c(2150,1534,3564)
x
mean(x)
# 계산식
(2150+1534+3564)/3
sum(x)/3
sum(x)/length(x)
# 유치원부터 초등학교 6학년까지 평균 학생수
x <- c(18,21,24,23,22,24,25)
x
mean(x)
# 계산식
(18+21+24+23+22+24+25)/7
sum(x)/7
sum(x)/length(x)